
/*background-color: rgb(23, 24, 24);*/

body {
  color:black;
  background-color:white;
  background-image:url(image/SL-093020-35920-01.jpg);
  margin:0;
  }


/* Add a black background color to the top navigation */
.topnav {
    background-color: #acacac;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #5d119b;
    color: white;
  }

#centre{
    text-align: center;
    color: rgb(0, 0, 0);
    
}